services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./alembic:/app/alembic
    env_file:
      - .env
    depends_on:
      - postgres
    environment:
      - POSTGRES_HOST=postgres
    command: >
      sh -c "sleep 10 && alembic upgrade head &&
             python src/app/main.py"

  postgres:
    image: postgres:16
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

volumes:
  pgdata:
